.buttons{
    flex: 1;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 5px;
    padding: 2rem 1rem;
}

.buttons>button{
    flex-shrink: 0;
    height: 80px;
    font-size: 2rem;
    border: 0px;
    color: white;
    padding: 20px 10px;
}

.equals{
    background-color: blue;
    grid-column-end: span 3;
}

.num{
    background-color: black;
}

.func{
    background-color: rgb(41, 40, 40);
}